html {
  font-size: 60%;
}

.catesidebar {
  position: relative;
  background: #fff;
  padding: .8rem 0.5rem 1.5rem;
  z-index: 1111;
  width: 26rem;
   height: 36rem;
  border-left: 1px solid #eceff1;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .25);
  margin-top: 0.2rem;

  .cate-sidebar-ul {
    width: 100%;
    padding: 0.8rem 0 0 0 ;
    >a{
    .cate-sidebar-ul-li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      list-style: none;
      cursor: pointer;
      width: 100%;
      padding-right: 1rem;


      .icon-holder {
        width: 2rem;
        height: 2rem;
        padding: .3rem;
        z-index: 111;
        background-color: #eceff1;
        position: relative;
        border-radius: 50%;
        margin: 0 0.3rem;
        flex-shrink: 0;

        >svg {
          width: 100%;
          fill: rgba(0, 0, 0, .25);
          transition: all .1s ease;
        }
      }

/*       &:hover {
        display: inline-flex;
        background-color: #eceff1;
        color: #F85606;
      }


      &:hover .cate-sidebar-ul-li-a {
        color: #F85606;
      }


      &:hover .arrow {
        display: inline-flex;
        background-color: #eceff1;
      }
 */
    .cate-sidebar-ul-li-a {
        display: flex;
        width :85%;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        font-size: 1.5rem;
        padding: .5rem .7rem;
        color: #757575;
        flex-shrink :0;
        white-space :none;
        text-overflow :ellipsis;
        flex-wrap :nowrap;
      }

      .arrow {
        display: none;
        font-size: 2rem;
      }




/*       &:hover .icon-holder>svg {
        fill: #F85606;
      }

      &:hover .catesidebar-ext {
        display: flex;
      }

 */
    }
      
    }



  }

  .insub-container {
    display: flex;
    flex-direction: column;
    width: 73.5rem;


    .in-sub-h3 {
      font-size: 1.7rem;
      color: #000;
      padding: 0.5rem .6rem;
      font-weight: 400;
    }

    .insub-ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow-y: scroll;
      width: 97%;
      height: 100%;
      align-items: flex-start;
      margin: 3rem 0rem 0rem 2rem;

      &::-webkit-scrollbar {
        width: 0.6rem;
        padding-right: 0.2rem;
      }

      &::-webkit-scrollbar-track {
        border-radius: 1rem;
        background-color: #fff;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #A0A0A5;
      }


    >a{
      .in-sub {
        display: flex;
        flex-direction: column;
        width: 11rem;
        height: 11rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 1rem 1.5rem;
        transition: all .40s ease;

        .cate-sidebar-ul-li-a {
          display: flex;
          width: 100%;
          align-items: baseline;
          text-align: center;
          justify-content: center;
          text-overflow: ellipsis;
          font-size: 1.3rem;
          padding: 0.4rem;
          height: 3rem;
          box-sizing: border-box;
        }

        >img {
          display: inline-block;
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 50%;
          border: 1px solid rgba(60, 56, 56, .03);
          background: rgba(0, 0, 0, .03);
        }

/*         &:hover>a {
          background: #fff;
          color: #F85606;
        }

        &:hover {
          background: #fff;
          color: #F85606;
        } */
      }
    }
    }
  }

}


@media only screen and (width <=1024px) {
  .catesidebar {
    position: relative;
    background: #fff;
    padding: 0.3rem 0rem 0rem 0rem;
    margin: 0;
    z-index: 1111;
    width: 20rem;
    height: 28rem;
    border-left: 1px solid #eceff1;

    .cate-sidebar-ul {
     >a{
      .cate-sidebar-ul-li {
        padding-right: 1rem;

        .cate-sidebar-ul-li-a {
          width :80%;
          font-size: 1.1rem;
          padding: .4rem .5rem;
          
        }
      }
        
      }

/*       &:hover .catesidebar-ext {
        display: flex;
      } */

    }
    .insub-container{
      /* width: 52rem; */
      
      .insub-ul{
        width: 96%;
        
      }
    }
  }
 

}

@media only screen and (width <=680px) {
  .catesidebar {
    display: none;
  }
}


.active .cate-sidebar-ul-li .icon-holder  >svg{
 fill: #f85606 !important;
}
.active .cate-sidebar-ul-li .cate-sidebar-ul-li-a{
 color: #f85606 !important;
}
.active .cate-sidebar-ul-li .arrow{
  display: flex !important;
 fill:  #f85606 !important;
}