.main-container {
  /* max-width: 1188px; */
  width: 100%;
  /* margin: 0 auto; */
  box-sizing: border-box;
  /* height: 250vh; */
  background-color: #F5F5F5;
  font-family: Roboto-Regular "Helvetica Neue"
    Helvetica Tahoma Arial sans-serif !important;

}


li {
  list-style: none;
}

a {
  text-decoration: none;
}